*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    radial-gradient(circle at top,#00d4ff33 0%,transparent 40%),
    radial-gradient(circle at bottom,#005eff33 0%,transparent 40%),
    linear-gradient(135deg,#050816,#081425,#02050d);

    overflow:auto;

    padding:40px;

}

.container{

    width:600px;

    background:rgba(18,24,38,.75);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:22px;

    padding:40px;

    box-shadow:
    0 0 30px rgba(0,255,255,.15),
    0 0 80px rgba(0,119,255,.15);

    animation:fade .8s;

}

@keyframes fade{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

h1{

    text-align:center;

    color:#00e5ff;

    font-size:40px;

    margin-bottom:8px;

    letter-spacing:2px;

}

h2{

    text-align:center;

    color:#d8e7ff;

    font-weight:400;

    margin-bottom:35px;

}

label{

    display:block;

    color:white;

    margin-top:18px;

    margin-bottom:8px;

    font-weight:600;

}

input,
select{

    width:100%;

    padding:15px;

    border-radius:12px;

    border:2px solid #1f3b66;

    background:#0b1220;

    color:white;

    font-size:16px;

    transition:.3s;

}

input::placeholder{

    color:#8ba7c9;

}

input:focus,
select:focus{

    outline:none;

    border-color:#00e5ff;

    box-shadow:0 0 15px rgba(0,229,255,.4);

}

button{

    width:100%;

    margin-top:35px;

    padding:16px;

    border:none;

    border-radius:12px;

    background:linear-gradient(90deg,#00c6ff,#0072ff);

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

    letter-spacing:1px;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 0 20px #00d4ff;

}

button:active{

    transform:scale(.98);

}

input[readonly]{

    background:#16202f;

    color:#9fc8ff;

}

@media(max-width:650px){

    .container{

        width:95%;

        padding:25px;

    }

    h1{

        font-size:32px;

    }

}
.voltar{

    display:block;

    text-align:center;

    margin-top:20px;

    color:#00e5ff;

    text-decoration:none;

    font-weight:bold;

}

.voltar:hover{

    color:white;

}